CREATE TABLE cvs (
    id SERIAL PRIMARY KEY,
    filename TEXT,
    data bytea,
); 

CREATE TABLE jobs (
    id bigserial PRIMARY KEY, 
    title text, 
    company text, 
    salary text, 
    location text, 
    skills text, 
    link text, 
    content text, 
    embedding vector(768)
)